<div class="main">
    <div class="content-handler">
        <img class="coffee-img" src="https://giffiles.alphacoders.com/269/2693.gif" alt="">
    </div>
    <div class="content-handler">
        <div class="introduction">
            Agarda "Menga kofe olib bering" iborasini bilsangiz, allaqachon nima demoqchiligimni bildingiz. 😊 <br>
            Namoz Vaqtlari API 100% bepul xizmat bo'lib, serverlarga o'z cho'ntagimizdan to'lanadi. Biz ertayu kech
            brodarlarimiz o'z dasturlarida namoz vaqtlari haqida ma'lumot olishlari uchun serverlarga muhtojmiz.
            Biz hech kimdan pullik obuna talab qilmaymiz, lekin har bir qilgan xayriyangiz bizni serverlarga qiladigan harajatlarimizni yengillashtiradi. <br><br>
            Muqobil ravishda siz bizning communitiylarimizga obuna bolishingiz mumkin. Bu ham bizni hursand qiladi. <br>
            <a class="link" target="_blank" href="https://youtube.com/@abuprogrammiy">youtube</a> <a class="link" target="_blank" href="https://t.me/abuprogrammiy">telegram</a> <br><br>
            Agar ikkisiga ham yo'q desangiz, hechsisi yo'q. Biz baribir sizni yahshi ko'ramiz.
        </div>
    </div>
    <div class="content-handler">
        <div class="card-number introduction">
            HUMO CARD | 9860-1966-0075-4986
        </div>
    </div>
</div>