<div class="main">
    <div class="introduction">
        <div>
            <h1 class="header">Namoz vaqtlari API</h1>
            <p class="description">O'zbekistonda joylashgan 12 ta viloyat va Qoraqalpog'iston namoz vaqtlarini o'z
                ichiga olgan tekin API</p>
        </div>
    </div>
    <div class="test-section">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <button class="btn btn-primary">Get</button>
                        <div class="link">
                            https://prayreminder.more-info.uz/GetTodaysPrayTimes/&#123;region&#125;/&#123;date&#125;
                        </div>
                    </div>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-3">
                            <label for="basic-url" class="form-label">Parameters</label>
                            <div class="input-group request-menu">
                                <span class="input-group-text basic-url"
                                    id="basic-addon3">https://prayreminder.more-info.uz/GetTodaysPrayTimes/</span>
                                <select [(ngModel)]="DailyRegion" class="form-select"
                                    aria-label="Default select example">
                                    <option>Toshkent</option>
                                    <option>Andijon</option>
                                    <option>Buxoro</option>
                                    <option>Sirdaryo</option>
                                    <option>Samarqand</option>
                                    <option>Surxandaryo</option>
                                    <option>Namangan</option>
                                    <option>Navoiy</option>
                                    <option>Jizzax</option>
                                    <option>Qashqadaryo</option>
                                    <option>Farg'ona</option>
                                    <option>Xiva</option>
                                    <option>Qoraqalpog'iston</option>
                                </select>
                                <span class="input-group-text" id="basic-addon3">/</span>
                                <input type="date" [(ngModel)]="DailyDate" class="form-control">
                            </div>
                        </div>
                        <button (click)="getDailyPrayTimes()" ngClass="{'disabled':isLoading"
                            class="btn btn-primary execute-btn">
                            @if(isLoading){
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            }
                            @else {
                            Execute
                            }
                        </button>
                        <label for="basic-url" class="form-label">Request URL</label>
                        <pre class="request-url">{{dailyPrayTimesRequestUrl}}</pre>
                        <pre class="response-body">{{dailyPrayTimes | json}}</pre>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <button class="btn btn-primary">Get</button>
                        <div class="link">
                            https://prayreminder.more-info.uz/GetTodaysPrayTimes/&#123;region&#125;/&#123;date&#125;
                        </div>
                    </div>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-3">
                            <label for="basic-url" class="form-label">Parameters</label>
                            <div class="input-group request-menu">
                                <span class="input-group-text basic-url"
                                    id="basic-addon3">https://prayreminder.more-info.uz/GetTodaysPrayTimes/</span>
                                <select [(ngModel)]="MonthlyRegion" class="form-select"
                                    aria-label="Default select example">
                                    <option>Toshkent</option>
                                    <option>Andijon</option>
                                    <option>Buxoro</option>
                                    <option>Sirdaryo</option>
                                    <option>Samarqand</option>
                                    <option>Surxandaryo</option>
                                    <option>Namangan</option>
                                    <option>Navoiy</option>
                                    <option>Jizzax</option>
                                    <option>Qashqadaryo</option>
                                    <option>Farg'ona</option>
                                    <option>Xiva</option>
                                    <option>Qoraqalpog'iston</option>
                                </select>
                                <span class="input-group-text" id="basic-addon3">/</span>
                                <input type="month" [(ngModel)]="MonthlyDate" class="form-control">
                            </div>
                        </div>
                        <button (click)="getMonthlyPrayTimes()" ngClass="{'disabled':isLoading"
                            class="btn btn-primary execute-btn">
                            @if(isLoading){
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            }
                            @else {
                            Execute
                            }
                        </button>
                        <label for="basic-url" class="form-label">Request URL</label>
                        <pre class="request-url">{{monthlyPrayTimesRequestUrl}}</pre>
                        <pre class="response-body">{{monthlyPrayTimes | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-section">
        <h3 class="info-header">Ma'lumotlar 07-2024 dan boshlangan</h3>
    </div>
    <div class="source-section">
        <div>
            <h1 class="source-header">Manba</h1>
            <div class="content-handler">
                <img class="source-logo" src="../../../assets/source.jpg" alt="islom.uz logo">
            </div>
            <div class="content-handler">
                <a target="_blank" class="source-link" href="https://islom.uz/vaqtlar/27/12">Islom.uz fronti</a>
            </div>
            <div class="content-handler">
                <p class="source-description">Front-end dan ma'lumot olinib databazaga saqlangan</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <h1 class="nick-name">&#64;abuprogrammiy</h1>
        <div class="content-handler">
            <a class="icon" target="_blank" href="https://youtube.com/@abuprogrammiy"><i class="bi bi-youtube"></i></a>
            <a class="icon" target="_blank" href="https://t.me/abuprogrammiy"><i class="bi bi-telegram"></i></a>
            <a class="icon" target="_blank" href="https://github.com/abuprogrammiy"><i class="bi bi-github"></i></a>
        </div>
    </footer>
</div>